<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47102161738-r97vaii807j0jlhps7t2sb7p9pb6d4v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47102161738-r97vaii807j0jlhps7t2sb7p9pb6d4v1</string>
	<key>API_KEY</key>
	<string>AIzaSyBfSDas9NUblC_qCjhpcVwRJlw2K91seeM</string>
	<key>GCM_SENDER_ID</key>
	<string>47102161738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaltorma.ninGuide</string>
	<key>PROJECT_ID</key>
	<string>natur-i-norge-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>natur-i-norge-guide.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47102161738:ios:e56af58c5483c9722547b3</string>
</dict>
</plist>